@import '../../base';

.results {
  border-style: solid;
  height: $contentHeight - 25.5vh; // 63.5vh;
  @include setSpacing($spacing, $spacing / 2);
  width: 72.5%;
  background-color: white;

  * {
    color: #030369;
    overflow: auto;
  }

  pre {
    font-size: 16px;
    height: $contentHeight - 28vh; // 61vh

    &.normal-res {
      @include setCompatibleProp('animation', fadein ease 1s);

      @keyframes fadein {
        from {
          opacity: 0;
        }
        to {
          opacity: 1;
        }
      }
    }
  }

  .loading {
    font-size: 24px;
    padding: $spacing;
  }

  .error {
    color: red;
    animation: shake 0.5s;

    @keyframes shake {
      0% {
        transform: translate(1px, 1px) rotate(0deg);
      }
      10% {
        transform: translate(-1px, -2px) rotate(-1deg);
      }
      20% {
        transform: translate(-3px, 0px) rotate(1deg);
      }
      30% {
        transform: translate(3px, 2px) rotate(0deg);
      }
      40% {
        transform: translate(1px, -1px) rotate(1deg);
      }
      50% {
        transform: translate(-1px, 2px) rotate(-1deg);
      }
      60% {
        transform: translate(-3px, 1px) rotate(0deg);
      }
      70% {
        transform: translate(3px, 1px) rotate(-1deg);
      }
      80% {
        transform: translate(-1px, -1px) rotate(1deg);
      }
      90% {
        transform: translate(1px, 2px) rotate(0deg);
      }
      100% {
        transform: translate(1px, -2px) rotate(-1deg);
      }
    }
  }

  @media only screen and (max-width: 900px) {
    width: 92.5%;
  }
}
