@import '../../base';

.form {
  margin: $spacing;
}

.form-input {
  input {
    @include setSpacing($spacing / 2, $spacing / 2);
  }

  button {
    @include setSpacing($spacing, $spacing $spacing * 2);
  }

  .form-child {
    display: flex;
    flex-direction: row;
    align-items: center;

    label,
    textarea {
      @include setSpacing(0, $spacing);
    }

    textarea {
      resize: none;
    }

    @media only screen and (max-width: 900px) {
      textarea {
        @include setSpacing($spacing / 2 auto, $spacing);
      }
    }
  }

  .url-textbox {
    width: 69.5%;
    overflow: hidden;
  }

  .reqBody-textbox {
    width: 70.75%;
    height: $spacing * 10;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
  }

  .req-type {
    text-align: center;
    button {
      background-color: #004680;
      color: white;

      &:hover {
        background-color: #3f6181;
        cursor: pointer;
      }
    }

    .selected-btn {
      border: 0.4em solid green;
      background-color: $darkBlue;
    }
  }

  @media only screen and (max-width: 900px) {
    label {
      padding: $spacing / 2;
    }

    .form-child {
      display: block;
    }

    input.url-textbox {
      width: 92.5%;
    }

    #submit-btn {
      width: 95%;
    }

    .reqBody-textbox {
      width: 100%;
    }
  }
}
