@import '../../base';

header {
  text-align: center;
  * {
    color: white;
  }

  margin-top: 0px;
  padding: $spacing / 2;
  background-color: $darkGreen;

  nav {
    ul {
      list-style-type: none;
      padding: 0;

      li {
        text-decoration: none;
        display: inline-block;
        font-size: 18px;

        a {
          margin: $spacing;
          text-decoration: none;
        }
      }
    }
  }
}
