@import '../../base';

footer {
  text-align: center;
  * {
    color: white;
  }

  padding: $spacing * 1.25;
  background-color: $teal;

  svg {
    margin: auto $spacing;
  }

  a:visited {
    color: white;
  }
}
