$spacing: 1em;
$pxPad: 20px;
$contentHeight: 77vh;

@mixin setSpacing($marginProp, $paddingProp) {
  margin: $marginProp;
  padding: $paddingProp;
}

@mixin setCompatibleProp($prop, $val) {
  #{$prop}: $val;
  -webkit-#{$prop}: $val;
  -moz-#{$prop}: $val;
  -ms-#{$prop}: $val;
  -o-#{$prop}: $val;
}

#root {
  font-family: Arial;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  min-width: 300px;
}

header,
footer {
  text-align: center;
  * {
    color: white;
  }
}

header {
  margin-top: 0px;
  padding: $spacing / 2;
  background-color: #006666;

  nav {
    ul {
      list-style-type: none;
      padding: 0;

      li {
        text-decoration: none;
        display: inline-block;
        font-size: 18px;

        a {
          margin: $spacing;
          text-decoration: none;
        }
      }
    }
  }
}

footer {
  padding: $spacing * 1.25;
  background-color: #007a99;

  svg {
    margin: auto $spacing;
  }

  a:visited {
    color: white;
  }
}

.content {
  min-height: $contentHeight;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.margin-1 {
  margin: $spacing;
}

.error {
  color: red;
}
