@import 'base';

.req-type,
.form-input {
  text-align: center;
}

.form {
  margin: $spacing;
}

.req-type {
  button {
    background-color: #004680;
    color: white;
    @include setSpacing($spacing, $spacing $spacing * 2);

    &:hover {
      background-color: #3f6181;
      cursor: pointer;
    }
  }

  .selected-btn {
    border: 0.4em solid green;
    background-color: #3f6181;
  }
}

.form-input {
  label {
    margin: auto $spacing / 2;
  }

  input {
    @include setSpacing($spacing / 2, $spacing / 2);
  }

  input.url-textbox {
    width: 70%;
    overflow: hidden;
  }

  .reqBody-textbox {
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
  }

  button {
    @include setSpacing($spacing, $pxPad / 2 $pxPad);
  }

  @media only screen and (max-width: 700px) {
    input.url-textbox {
      width: 94%;
    }

    #submit-btn {
      width: 95%;
    }
  }
}

.results {
  border-style: solid;
  height: $contentHeight - 15.5vh; // 63.5vh;
  @include setSpacing($spacing, $spacing / 2);

  * {
    color: #030369;
    overflow: auto;
  }

  pre {
    font-size: 16px;
    height: $contentHeight - 18vh; // 61vh

    &.normal-res {
      @include setCompatibleProp('animation', fadein ease 1s);

      @keyframes fadein {
        from {
          opacity: 0;
        }
        to {
          opacity: 1;
        }
      }
    }
  }

  .loading {
    font-size: 24px;
    padding: $spacing;
  }

  .error {
    color: red;
    animation: shake 0.5s;

    @keyframes shake {
      0% {
        transform: translate(1px, 1px) rotate(0deg);
      }
      10% {
        transform: translate(-1px, -2px) rotate(-1deg);
      }
      20% {
        transform: translate(-3px, 0px) rotate(1deg);
      }
      30% {
        transform: translate(3px, 2px) rotate(0deg);
      }
      40% {
        transform: translate(1px, -1px) rotate(1deg);
      }
      50% {
        transform: translate(-1px, 2px) rotate(-1deg);
      }
      60% {
        transform: translate(-3px, 1px) rotate(0deg);
      }
      70% {
        transform: translate(3px, 1px) rotate(-1deg);
      }
      80% {
        transform: translate(-1px, -1px) rotate(1deg);
      }
      90% {
        transform: translate(1px, 2px) rotate(0deg);
      }
      100% {
        transform: translate(1px, -2px) rotate(-1deg);
      }
    }
  }
}
