@import 'base';

.header,
.footer {
  text-align: center;
  color: white;
}

.header {
  margin-top: 0px;
  padding: $spacing / 2;
  background-color: #006666;
}

.footer {
  padding: $spacing;
  background-color: #007a99;

  svg {
    margin: auto $spacing;
  }

  a:visited {
    color: white;
  }
}

.content {
  min-height: 83.5vh;
}

.req-type,
.form-input {
  text-align: center;
}

.form {
  margin: $spacing;
}

.req-type {
  button {
    background-color: #004680;
    color: white;
    @include setSpacing($spacing, $spacing $spacing * 2);

    &:hover {
      background-color: #3f6181;
      cursor: pointer;
    }
  }

  .selected-btn {
    border: 0.4em solid green;
    background-color: #3f6181;
  }
}

.form-input {
  label {
    margin: auto $spacing / 2;
  }

  input {
    @include setSpacing($spacing / 2, $spacing / 2);
  }

  input.textbox {
    width: 70%;
    overflow: hidden;
  }

  button {
    @include setSpacing($spacing, $pxPad / 2 $pxPad);
  }

  @media only screen and (max-width: 700px) {
    input.textbox {
      width: 94%;
    }

    #submit-btn {
      width: 95%;
    }
  }
}

.results {
  border-style: solid;
  height: 67.5vh;
  @include setSpacing($spacing, $spacing / 2);

  * {
    color: #030369;
    overflow: auto;
  }

  pre {
    font-size: 16px;
    height: 65vh;

    @include setCompatibleProp('animation', fadein ease 1.5s);

    @keyframes fadein {
      from {
        opacity: 0;
      }
      to {
        opacity: 1;
      }
    }
  }

  .loading {
    font-size: 24px;
    padding: $spacing;
  }

  .error {
    color: red;
  }
}
